
<div class="parent" style="margin-top: 20px;;">
  <div class="card text-center child" style="width: 18rem; margin:10px;">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 20px;">Upcoming Birthday</h5>
      <p class="card-text">{{name1 | uppercase}}</p>
      <p class="card-text">{{date1}}</p>
    </div>
  </div>
  <div class="card text-center child" style="width: 18rem; margin:10px;">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 20px;">Upcoming Birthday</h5>
      <p class="card-text">{{name2 | uppercase}}</p>
      <p class="card-text">{{date2}}</p>
    </div>
  </div>

  <div class="card text-center child" style="width: 18rem; margin:10px;">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 20px;">Upcoming Birthday</h5>
      <p class="card-text">{{name3 | uppercase}}</p>
      <p class="card-text">{{date3}}</p>
    </div>
  </div>


</div>


